__pycache__
audio_data/
weights/
.venv/
.DS_Store
*.pt
!*cif.pt
*.pth
*.safetensors

# Node.js dependencies
node_modules/

# Electron build output
*.exe
*.dll
*.pak
*.dat
*.bin
locales/
resources/
LICENSE.electron.txt
LICENSES.chromium.html
node_modules/

**/node_modules/

**/nul

# React Native / Expo build output
STiTy-Mobile/dist/
STiTy-Mobile/.expo/

# Dataset
evaluation/KsponSpeech/wav_data/
evaluation/KsponSpeech/data/
evaluation/KsponSpeech/transcribe/train.trn
evaluation/LibriSpeech/data/
Qwen3-ASR/finetuning/data/audio/
evaluation/LibriSpeech/test-other.tar.gz
evaluation/LibriSpeech/test-other

# Weights
Qwen3-ASR/finetuning/Qwen3-ASR-1.7B
Qwen3-ASR/finetuning/qwen3-asr-finetuning-out/checkpoint-200
Qwen3-ASR/finetuning/qwen3-asr-finetuning-out/checkpoint-400
Qwen3-ASR/finetuning/qwen3-asr-finetuning-out/checkpoint-800
Qwen3-ASR/finetuning/qwen3-asr-finetuning-out/checkpoint-891

.env

